<app-input-field
  [nameAttribute]='"initialBalance"'
  [label] = '"Initial Balance"'
  [helpText] = '"Initial balance on the loan"'
  [defaultValue]="'100000'"
  (emitter)="initialBalance = stringToNumber($event)"
></app-input-field>

<br>

<app-input-field
  [nameAttribute]='"monthlyPayment"'
  [label] = '"Monthly Payment"'
  [helpText] = '"Sum of principal and interest components of the monthly payment."'
  [defaultValue]="'537'"
  (emitter)="monthlyPayment = stringToNumber($event)"
></app-input-field>

<br>

<app-input-field
  [nameAttribute]='"interestRate"'
  [label] = '"Interest Rate"'
  [helpText] = '"Interest Rate"'
  [defaultValue]="'.05'"
  (emitter)="interestRate = stringToNumber($event)"
></app-input-field>

<button (click)="updateLifespans()">Compute</button>

<table>
  <tr>
    <th></th>
    <th>Total Interest</th>
    <th>Time to Pay Off (months)</th>
  </tr>
  <tr>
    <td>No extra principal</td>
    <td> {{ currencyFormatter.format(loanWithoutExtraPayment.totalInterestPaid)}} <td>
    <td> {{ formatNumMonthsAsString(loanWithoutExtraPayment.monthsToPay)}} <td>
  </tr>
  <tr>
    <td>With extra principal</td>
    <td> {{ currencyFormatter.format(loanWithExtraPrincipal.totalInterestPaid)}} <td>
    <td> {{ formatNumMonthsAsString(loanWithExtraPrincipal.monthsToPay)}} <td>
  </tr>
</table>