<app-input-field
  [nameAttribute]='"initialBalance"'
  [label] = '"Initial Balance"'
  [helpText] = '"Initial balance on the loan"'
  [defaultValue]="'374200'"
  (emitter)="initialBalance = stringToNumber($event)"
></app-input-field>

<br>

<app-input-field
  [nameAttribute]='"monthlyPayment"'
  [label] = '"Monthly Payment"'
  [helpText] = '"Sum of principal and interest components of the monthly payment."'
  [defaultValue]="'1952.01'"
  (emitter)="monthlyPayment = stringToNumber($event)"
></app-input-field>

<br>

<app-input-field
  [nameAttribute]='"interestRate"'
  [label] = '"Interest Rate"'
  [helpText] = '"Interest Rate"'
  [defaultValue]="'.0475'"
  (emitter)="interestRate = stringToNumber($event)"
></app-input-field>

<button (click)="logLifespan(computePaymentSchedule())">Compute</button>