<app-input-field [nameAttribute]='"startDate"' [label]='"Start Date"'
  [helpText]='"The date the first payment on the loan is/was due."' [inputType]="InputTypes.date"
  [defaultValue]="'2022-06-01'" (emitter)="startDate = stringToDate($event);"></app-input-field>
<br>
<app-input-field [nameAttribute]='"initialBalance"' [label]='"Initial Balance"'
  [helpText]='"Initial balance on the loan"' [defaultValue]="'374200'" [inputType]="InputTypes.number"
  (emitter)="initialBalance = stringToNumber($event)"></app-input-field>
<br>
<app-input-field [nameAttribute]='"monthlyPayment"' [label]='"Monthly Payment"'
  [helpText]='"Sum of principal and interest components of the monthly payment."' [defaultValue]="'1952.01'"
  [inputType]="InputTypes.number" (emitter)="monthlyPayment = stringToNumber($event)"></app-input-field>
<br>
<app-input-field [nameAttribute]='"interestRate"' [label]='"Interest Rate"' [helpText]='"Interest Rate"'
  [defaultValue]="'.0475'" [inputType]="InputTypes.number"
  (emitter)="interestRate = stringToNumber($event)"></app-input-field>

<div class="column">
  <app-extra-pincipal *ngFor="let extrapayment of extraPayments"></app-extra-pincipal>
</div>

<button (click)="addExtraPayment()">Add Extra Payment</button>

<button (click)="updatePaydowns()">Compute</button>

<table>
  <tr>
    <th></th>
    <th>Ending Date</th>
    <th>Total Interest</th>
  </tr>
  <tr>
    <td>No Extra Principal</td>
    <td> {{ this.loanPaydownWithoutExtra?.endDate?.toLocaleDateString('en-us', { year: 'numeric', month: 'long', day: 'numeric' }) ?? "" }} </td>
    <td> {{ this.loanPaydownWithoutExtra?.totalInterestPaid | currency }} </td>
  </tr>
  <tr>
    <td>Extra Principal</td>
    <td> {{ this.loanPaydownWithExtra?.endDate?.toLocaleDateString('en-us', { year: 'numeric', month: 'long', day: 'numeric' }) ?? "" }} </td>
    <td> {{ this.loanPaydownWithExtra?.totalInterestPaid | currency }} </td>
  </tr>
</table>